<h2>My details</h2>
<p>
  If you change your email address here you will have to repeat the
  email confirmation process.
</p>

<%= render partial: "layouts/errors", object: resource, as: 'form' %>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="actions"><strong><em>Currently waiting confirmation for: <%= resource.unconfirmed_email %></em></strong></div>
  <% end %>

  <fieldset>
    <legend>Personal details</legend>
    <%= f.email_field :email, label: 'Email' %>
    <%= f.text_field :first_name, label: 'First name', autofocus: true %>
    <%= f.text_field :last_name,  label: 'Last name' %>
    <%= f.phone_field :mobile,    label: 'Mobile number' %>
    <%= f.select :age_category,
        options_for_select([['Please select an age category...',''],['Over 18', :adult],['11 to 18', :youth]], resource.age_category),
        { label: 'Age category' } %>
  </fieldset>

  <fieldset>
    <legend>Family members</legend>
    <p>
      TODO
    </p>
  </fieldset>

  <fieldset>
    <legend>Skills</legend>
    <%= f.form_group :skills do %>
      <%= f.collection_check_boxes(:skills, Project::SKILLS, :to_s, :to_s) %>
    <% end %>
  </fieldset>


  <fieldset>
    <legend>New password</legend>
    <p><em>Leave these fields blank if you don't want to change your password</em></p>
    <%= f.password_field :password, label: 'Password', autocomplete: "off",
        skip_required: true %>
    <%= f.password_field :password_confirmation, label: 'Password confirmation', autocomplete: "off" %>
  </fieldset>


  <fieldset>
    <legend>Current password</legend>
    <%= f.password_field :current_password,
        label: 'Current password', label_class: 'required',
        autocomplete: "off",
        help: "We need your current password to confirm any changes" %>
  </fieldset>


  <div class="actions">
    <%= f.submit "Update now!", class: 'btn btn-primary btn-lg' %>
  </div>

<% end %>


<div style="margin-top: 20px; margin-bottom: 20px;">
<%= link_to "Back", :back %>
</div>
