<h2>Registration</h2>

<p>
  Once you have registered (individually or with family members) and logged in
  to this site, you can sign up for our public projects and tell us about your
  personal projects.
</p>



<%= render partial: "layouts/errors", object: resource, as: 'form' %>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render partial: "personal_details", locals: { f: f, volunteer: resource } %>

  <fieldset>
    <legend>Additional family members</legend>
    <p>
      <em>
      If you are going to be volunteering with family members please add them
      here so we know how many people there will be in total.
      Please don't include yourself or you will be counted twice.
      Also note that family members over the age of 13 can also register and
      volunteer separately.
      </em>
    </p>
    <%= render partial: "volunteer_family_simple", locals: { f: f, volunteer: resource } %>
  </fieldset>

  <fieldset>
    <legend>Password</legend>
    <p>
      <em>
      Please choose a memorable password so that you can sign in again
      in the future.
      </em>
    </p>
    <%= f.password_field :password, label: 'Password', autocomplete: "off",
        help: @minimum_password_length ? "#{@minimum_password_length} characters minimum" : '' %>
    <%= f.password_field :password_confirmation, label: 'Password confirmation', autocomplete: "off" %>
  </fieldset>

  <fieldset>
    <legend>Data Protection Act 1998 (P2783942X)</legend>
    <p class="text-primary font-italic">
      Your details will be stored on computer so that
      we can keep you informed about projects and events.
    </p>
  </fieldset>

  <div class="actions">
    <%= f.submit "Register", class: 'btn btn-primary' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
