
<div class="row">
  <div class="col-lg-9">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>User details</h3>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @user.first_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @user.last_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @user.email %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Role</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @user.role %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last sign-in</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @user.current_sign_in_at %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Number of sign-ins</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @user.sign_in_count %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 hidden-print">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>Actions</h3>
      </div>
      <div class="ibox-content">
        <div>
          <%= link_to users_path, :class => 'btn btn-outline btn-default' do %>
            <i class="fa fa-reply"></i> Back to users
          <% end %>
        </div>
        <% if can? :edit, @user %>
        <div>
          <%= link_to edit_user_path, :class => 'btn btn-outline btn-primary' do %>
            <i class="fa fa-edit"></i> Edit details
          <% end %>
        </div>
        <% end %>
        <% if can? :destroy, @user %>
        <div>
          <a class="btn btn-outline btn-danger" data-toggle='modal' data-target='#delete'><i class="fa fa-times"></i> Delete this user</a>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


<div class="modal inmodal" id="delete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-bomb modal-icon"></i>
        <h4 class="modal-title">Warning</h4>
        <small class="font-bold">You are about to delete a user!</small>
      </div>
      <div class="modal-body">
        <p>
          If you continue with this action you will delete this record. While this action
          <strong><em>can be reversed by an administrator</em></strong>, you should probably
          still think carefully before continuing.
        </p>
      </div>
      <div class="modal-footer">
        <%= form_for @user, method: :delete, :html => { :class => "user" } do |f| %>
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel (don't delete)</button>
        <button type="submit" class="btn btn-danger">Continue (delete)</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
