
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <% if @project.id? %>
        <h2>Update project details</h2>
        <% else %>
        <h2>Add a project</h2>
        <% end %>
      </div>

      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-8">

            <p class="required-legend">
              Indicates a required field
            </p>

            <%= render partial: "layouts/errors", object: @project, as: 'form' %>

            <%= bootstrap_form_for(
                    [:admin, @project],
                    layout: :horizontal,
                    inline_errors: false,
                    html: { class: 'project-form' },
                    label_col: "col-sm-3",
                    control_col: "col-sm-9") do |f| %>

              <fieldset>
                <legend>Overall details</legend>
                <%= f.text_field :project_name, :label => 'Project name' %>
                <%= f.select :organisation_type,
                              options_for_select(Project::ORG_TYPES, @project.organisation_type),
                              { prompt: "Please select an organisation type..." } %>
                <%= f.text_area :notes, :label => 'Additional notes' %>
              </fieldset>

              <fieldset>
                <legend>Contact details</legend>
                <%= f.text_field :contact_name, :label => 'Name' %>
                <%= f.text_field :contact_role, :label => 'Role' %>
                <%= f.email_field :contact_email, :label => 'Email' %>
                <%= f.telephone_field :contact_phone, :label => 'Telephone' %>
              </fieldset>

              <%= render partial: "activities",  locals: { f: f, project: @project } %>

              <fieldset>
                <legend>Preferred dates and times</legend>
                <%= f.form_group :any_week, label: { text: "Any week" }  do %>
                  <%= f.radio_button :any_week, true,  label: "Yes", inline: true %>
                  <%= f.radio_button :any_week, false, label: "No",  inline: true %>
                <% end %>
                <div class="specific-week-container collapse<%= @project.any_week ? '' : ' in' %>">
                  <%= f.form_group :week_1, label: { text: "Week 1" } do %>
                    <%= f.radio_button :week_1, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :week_1, false, label: "No",  inline: true %>
                  <% end %>
                  <%= f.form_group :week_2, label: { text: "Week 2" } do %>
                    <%= f.radio_button :week_2, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :week_2, false, label: "No",  inline: true %>
                  <% end %>
                  <%= f.form_group :week_3, label: { text: "Week 3" } do %>
                    <%= f.radio_button :week_3, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :week_3, false, label: "No",  inline: true %>
                  <% end %>
                  <%= f.form_group :week_4, label: { text: "Week 4" } do %>
                    <%= f.radio_button :week_4, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :week_4, false, label: "No",  inline: true %>
                  <% end %>
                </div>
                <%= f.form_group :evenings, label: { text: "Evenings" } do %>
                  <%= f.radio_button :evenings, true,  label: "Yes", inline: true %>
                  <%= f.radio_button :evenings, false, label: "No",  inline: true %>
                <% end %>
                <%= f.form_group :saturday, label: { text: "Saturdays" } do %>
                  <%= f.radio_button :saturday, true,  label: "Yes", inline: true %>
                  <%= f.radio_button :saturday, false, label: "No",  inline: true %>
                <% end %>
              </fieldset>

              <%= render partial: "resources", locals: { f: f, project: @project } %>

              <fieldset>
                <legend>Slot times &amp; lengths</legend>

                <div class="help-block">Just fill in the values that are applicable for this project and leave the others blank.</div>

                <div class="form-group <%= "has-error" if @project.errors[:morning_start_time].present? %>">
                  <%= f.label :morning_start_time, 'Morning start time', :class => 'control-label col-sm-3' %>
                  <div class="col-sm-9">
                    <div class="input-group clockpicker" data-autoclose="true">
                      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                      <%= f.text_field_without_bootstrap :morning_start_time, { :placeholder => 'hh:mm', :class => 'form-control' } %>
                    </div>
                  </div>
                </div>

                <%= f.number_field :morning_slot_length, label: 'Morning slot length (hrs)', min: 0.5, max: 5.0, step: 0.5 %>

                <div class="form-group <%= "has-error" if @project.errors[:afternoon_start_time].present? %>">
                  <%= f.label :afternoon_start_time, 'Afternoon start time', :class => 'control-label col-sm-3' %>
                  <div class="col-sm-9">
                    <div class="input-group clockpicker" data-autoclose="true">
                      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                      <%= f.text_field_without_bootstrap :afternoon_start_time, { :placeholder => 'hh:mm', :class => 'form-control' } %>
                    </div>
                  </div>
                </div>

                <%= f.number_field :afternoon_slot_length, label: 'Afternoon slot length (hrs)', min: 0.5, max: 5.0, step: 0.5 %>

                <div class="form-group <%= "has-error" if @project.errors[:evening_start_time].present? %>">
                  <%= f.label :evening_start_time, 'Evening start time', :class => 'control-label col-sm-3' %>
                  <div class="col-sm-9">
                    <div class="input-group clockpicker" data-autoclose="true">
                      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                      <%= f.text_field_without_bootstrap :evening_start_time, { :placeholder => 'hh:mm', :class => 'form-control' } %>
                    </div>
                  </div>
                </div>

                <%= f.number_field :evening_slot_length, label: 'Evening slot length (hrs)', min: 0.5, max: 5.0, step: 0.5 %>

              </fieldset>

              <div class="form-group" style="margin-top: 20px;">
                <div class="col-sm-9 col-sm-offset-3">
                  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                    <i class="fa fa-check"></i> Save
                  <% end %>
                  <% if @project.id? %>
                    <%= link_to admin_project_path, :class => 'btn btn-default' do %>
                      <i class="fa fa-times"></i> Cancel
                    <% end %>
                  <% else %>
                    <%= link_to admin_projects_path, :class => 'btn btn-default' do %>
                      <i class="fa fa-times"></i> Cancel
                    <% end %>
                  <% end %>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
