
<div class="row">
  <div class="col-lg-12">

    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <div class="ibox-tools pull-right">
          <a class="btn btn-<%= @filter.except(:order_by).empty? ? "default" : "warning btn-outline" %> btn-sm"
               data-toggle="collapse" data-target="#filter"><i class="fa fa-filter"></i></a>
        </div>
        <h2>Projects</h2>
      </div>

      <div class="ibox-content" style="display: block;">

        <div id="filter" class="filter collapse">

          <%= form_tag admin_projects_path, method: :get, class: "filter" do |f| %>

          <%= hidden_field_tag :order_by, @filter[:order_by] %>

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5>Filter settings</h5>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= label_tag :with_name, 'Project name contains', :class => 'control-label' %>
                      <%= text_field_tag :with_name, @filter[:with_name], :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :of_type, 'Organisation type equals', :class => 'control-label' %>
                      <%= select_tag :of_type,
                            options_for_select(Project::ORG_TYPES, @filter[:of_type]),
                            include_blank: true,
                            :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <strong>Requested dates, days &amp; times</strong>
                    <div class="row">
                      <div class="col-md-12 col-lg-6">
                        <div class="checkbox checkbox-primary">
                          <%= check_box_tag :could_run_wc_july_3rd, true, @filter[:could_run_wc_july_3rd] %>
                          <%= label_tag :could_run_wc_july_3rd, 'July 3rd' %>
                        </div>
                        <div class="checkbox checkbox-primary">
                          <%= check_box_tag :could_run_wc_july_10th, true, @filter[:could_run_wc_july_10th] %>
                          <%= label_tag :could_run_wc_july_10th, 'July 10th' %>
                        </div>
                        <div class="checkbox checkbox-primary">
                          <%= check_box_tag :could_run_wc_july_17th, true, @filter[:could_run_wc_july_17th] %>
                          <%= label_tag :could_run_wc_july_17th, 'July 17th' %>
                        </div>
                        <div class="checkbox checkbox-primary">
                          <%= check_box_tag :could_run_wc_july_24th, true, @filter[:could_run_wc_july_24th] %>
                          <%= label_tag :could_run_wc_july_24th, 'July 24th' %>
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <div class="checkbox checkbox-primary">
                          <%= check_box_tag :could_run_evenings, true, @filter[:could_run_evenings] %>
                          <%= label_tag :could_run_evenings, 'Evenings' %>
                        </div>
                        <div class="checkbox checkbox-primary">
                          <%= check_box_tag :could_run_saturday, true, @filter[:could_run_saturday] %>
                          <%= label_tag :could_run_saturday, 'Saturday' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= label_tag :with_status, 'Status equals', :class => 'control-label' %>
                      <%= select_tag :with_status,
                            options_for_select(Project.statuses.map { |s| [s[0].humanize, s[1]] }, @filter[:with_status]),
                            include_blank: true,
                            :class => 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group pull-right">
                      <%= link_to admin_projects_clear_filter_path, :class => 'btn btn-default' do %>
                          <i class="fa fa-times"></i> Clear filter
                        <% end %>
                      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                        <i class="fa fa-filter"></i> Apply filter
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% end %>

        </div>

        <% if can? :create, Project %>
          <%= link_to new_admin_project_path, :class => 'btn btn-primary btn-sm' do %>
            <i class="fa fa-plus"></i> Add a project
          <% end %>
        <% end %>

        <% if can? :import, Project %>
          <%= link_to admin_projects_import_path, :class => 'btn btn-info btn-sm' do %>
            <i class="fa fa-upload"></i> Import projects from TypeForm
          <% end %>
        <% end %>

        <% if can? :print_list, Project %>
          <%= link_to admin_print_project_list_path, :class => 'btn btn-success btn-sm' do %>
            <i class="fa fa-print"></i> Printable list
          <% end %>
        <% end %>

        <div class="table-responsive">
          <table class="table table-striped table-responsive">

            <thead>
              <tr>
                <th><%= sortable 'project_name', @filter, admin_projects_path, 'Project name' %></th>
                <th><%= sortable 'organisation_type', @filter, admin_projects_path, 'Organisation type' %></th>
                <th><%= sortable 'contact_name', @filter, admin_projects_path, 'Contact name' %></th>
                <th>Planned dates</th>
                <th>Planned slots</th>
                <th><%= sortable 'status', @filter, admin_projects_path, 'Status' %></th>
                <th>Links</th>
              </tr>
            </thead>

            <tbody>
              <% @projects.each do |project| %>
              <tr>
                <td><%= project.project_name %> </td>
                <td><%= project.organisation_type %> </td>
                <td><%= project.contact_name %> </td>
                <td><%= project_dates(project) %></td>
                <td><%= project.project_slots.size %> </td>
                <td><%= project.status.humanize %> </td>
                <td>
                  <%= link_to admin_project_path(project), :class => '' do %>
                  <i class="fa fa-info-circle"></i> View details
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="6">
                  <div class="pull-right">
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>
