
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="ibox-tools pull-right hidden-print">
          <a href="javascript:window.print();" class="btn btn-primary">
            <i class="fa fa-print"></i> Print now!</a>
          <%= link_to admin_projects_path, :class => 'btn btn-outline btn-default' do %>
            <i class="fa fa-reply"></i> Back to projects
          <% end %>
        </div>
        <h2>Projects</h2>
      </div>
      <div class="ibox-content" style="display: block;">
        <h4>Current filter settings</h4>
        <%= filter(@filter) %>
      </div>
    </div>
  </div>
</div>

<% @projects.each do |project| %>
<div class="row page-break-avoid">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= project.project_name %></h5>
      </div>
      <div class="ibox-content" style="display: block;">
        <dl class="dl-horizontal">

          <dt>Contact details</dt>
          <dd>
            <%= project.contact_name %>,
            <%= project.contact_phone %>,
            <%= project.contact_email %>
          </dd>

          <dt>Activity #1</dt>
          <dd>
            <%= project.activity_1_summary %><br />
            <% if project.activity_1_information %>
            <%= project.activity_1_information %><br />
            <% end %>
            Under 18s: <%= yes_no_icon project.activity_1_under_18 %><br />
          </dd>

          <% if project.activity_2_summary %>
          <dt>Activity #2</dt>
          <dd>
            <%= project.activity_2_summary %><br />
            <% if project.activity_2_information %>
            <%= project.activity_2_information %><br />
            <% end %>
            Under 18s: <%= yes_no_icon project.activity_2_under_18 %><br />
          </dd>
          <% end %>

          <% if project.activity_3_summary %>
          <dt>Activity #3</dt>
          <dd>
            <%= project.activity_3_summary %><br />
            <% if project.activity_3_information %>
            <%= project.activity_3_information %><br />
            <% end %>
            Under 18s: <%= yes_no_icon project.activity_3_under_18 %><br />
          </dd>
          <% end %>

          <dt>Preferred dates &amp; times</dt>
          <dd>
            Week 1: <%= yes_no_icon(project.week_1 || project.any_week) %><br/>
            Week 2: <%= yes_no_icon(project.week_2 || project.any_week) %><br/>
            Week 3: <%= yes_no_icon(project.week_3 || project.any_week) %><br/>
            Week 4: <%= yes_no_icon(project.week_4 || project.any_week) %><br/>
            Evenings: <%= yes_no_icon project.evenings %><br/>
            Saturdays: <%= yes_no_icon project.saturday %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<% end %>
