
<div class="row">
  <div class="col-lg-9">

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>Project details</h2>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Project name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.project_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Organisation type</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.organisation_type %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Typeform ID</label>
            <div class="col-lg-9">
              <p class="form-control-static"><code><%= @project.typeform_id %></code></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Submission date</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= l(@project.submitted_at, :format => :short) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Additional notes</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.notes %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Contact details</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.contact_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Role</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.contact_role %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.contact_email %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Telephone</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.contact_phone %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Activity #1</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Summary</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.activity_1_summary %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">More information</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.activity_1_information %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Suitable for under 18s</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon @project.activity_1_under_18 %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Activity #2</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Summary</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.activity_2_summary %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">More information</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.activity_2_information %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Suitable for under 18s</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon @project.activity_2_under_18 %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Activity #3</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Summary</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.activity_3_summary %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">More information</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.activity_3_information %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Suitable for under 18s</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon @project.activity_3_under_18 %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Preferred dates and times</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">July 3rd</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon(@project.july_3 || @project.any_week) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">July 10th</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon(@project.july_10 || @project.any_week) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">July 17th</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon(@project.july_17 || @project.any_week) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">July 24th</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon(@project.july_24 || @project.any_week) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Evenings</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon @project.evenings %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Saturdays</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon @project.saturday %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Resourcing information</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Leader</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.leader %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Adults</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.adults %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Youth (11-18)</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.youth %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Kids (under 11)</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.kids %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Materials</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.materials %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Planned dates, times &amp; slots</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Start date</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%=
                  @project.start_date.nil? ? 'Not agreed' : l(@project.start_date, :format => :short) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">End date</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%=
                  @project.end_date.nil? ? 'Not agreed' : l(@project.end_date, :format => :short) %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Morning start time</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.morning_start_time %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Morning slot length (hrs)</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.morning_slot_length %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Afternoon start time</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.afternoon_start_time %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Afternoon slot length (hrs)</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.afternoon_slot_length %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Evening start time</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.evening_start_time %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Evening slot length (hrs)</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @project.evening_slot_length %></p>
            </div>
          </div>
        </div>
        <h4>Slots</h4>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Day</th>
              <th>Slot</th>
              <th>Adults</th>
              <th>Youth</th>
              <th>Kids</th>
            </tr>
          </thead>
          <% @project.project_slots.each do |project_slot| %>
          <tr>
            <td><%= project_slot.slot_date.strftime('%d/%m/%Y') %></td>
            <td><%= project_slot.slot_date.strftime('%A') %></td>
            <td><%= project_slot.humanized_slot_type %></td>
            <td><%= project_slot.adults %></td>
            <td><%= project_slot.youth %></td>
            <td><%= project_slot.children %></td>
          </tr>
          <% end %>
          <% if @project.project_slots.size == 0 %>
          <tr>
            <td colspan="6"><em>No slots found</em></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Summary text</h5>
        <div class="ibox-tools">
          <a class="collapse-link ui-sortable"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        <%= markdown(@project.summary) %>
      </div>
    </div>

  </div>

  <div class="col-lg-3 hidden-print">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>Actions</h3>
      </div>
      <div class="ibox-content">

        <div>
          <%= link_to admin_projects_path, :class => 'btn btn-outline btn-default' do %>
            <i class="fa fa-reply"></i> Back to projects
          <% end %>
        </div>

        <% if can? :edit, Project %>
        <div>
          <%= link_to edit_admin_project_path, :class => 'btn btn-outline btn-primary' do %>
            <i class="fa fa-edit"></i> Edit details
          <% end %>
        </div>
        <% elsif can? :review, Project %>
        <div>
          <%= link_to admin_review_project_path(@project), :class => 'btn btn-outline btn-primary' do %>
            <i class="fa fa-edit"></i> Edit details
          <% end %>
        </div>
        <% end %>

        <% if can? :manage, ProjectSlot %>
        <div>
          <%= link_to admin_project_slots_path(@project), :class => 'btn btn-outline btn-success' do %>
            <i class="fa fa-calendar"></i> Manage project slots
          <% end %>
        </div>
        <% end %>

        <% if can? :summary, Project %>
        <div>
          <%= link_to admin_summarise_project_path, :class => 'btn btn-outline btn-success' do %>
            <i class="fa fa-edit"></i> Edit project summary
          <% end %>
        </div>
        <% end %>

        <% if can? :destroy, Project %>
        <div>
          <a class="btn btn-outline btn-danger" data-toggle='modal' data-target='#delete'><i class="fa fa-times"></i> Delete this project</a>
        </div>
        <% end %>

        <% if can? :publish, Project %>
        <div style="margin-top: 20px;">
          <%= link_to admin_publish_project_path, :class => 'btn btn-lg btn-primary' do %>
            <i class="fa fa-globe"></i> Publish project
          <% end %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


<div class="modal inmodal" id="delete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-bomb modal-icon"></i>
        <h4 class="modal-title">Warning</h4>
        <small class="font-bold">You are about to delete a project!</small>
      </div>
      <div class="modal-body">
        <p>
          If you continue with this action you will delete this record. While this action
          <strong><em>can be reversed by an administrator</em></strong>, you should probably
          still think carefully before continuing.
        </p>
      </div>
      <div class="modal-footer">
        <%= form_for [:admin, @project], method: :delete, :html => { :class => "project" } do |f| %>
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel (don't delete)</button>
        <button type="submit" class="btn btn-danger">Continue (delete)</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
