
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">

        <div class="ibox-title">
          <% if @project.id? %>
          <h2>Update project details</h2>
          <% else %>
          <h2>Add a project</h2>
          <% end %>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-8">

              <p class="required-legend">
                Indicates a required field
              </p>

              <%= render partial: "layouts/errors", object: @project, as: 'form' %>

              <%= bootstrap_form_for(@project,
                      layout: :horizontal,
                      inline_errors: false,
                      html: { class: 'project-form' },
                      label_col: "col-sm-3",
                      control_col: "col-sm-9") do |f| %>

                <fieldset>
                  <legend>Overall details</legend>
                  <%= f.text_field :organisation_name, :label => 'Organisation name' %>
                  <%= f.select :organisation_type,
                                options_for_select(Project::ORG_TYPES, @project.organisation_type),
                                { prompt: "Please select an organisation type..." } %>
                  <%= f.text_area :notes, :label => 'Additional notes' %>
                </fieldset>

                <fieldset>
                  <legend>Contact details</legend>
                  <%= f.text_field :contact_name, :label => 'Name' %>
                  <%= f.text_field :contact_role, :label => 'Role' %>
                  <%= f.email_field :contact_email, :label => 'Email' %>
                  <%= f.telephone_field :contact_phone, :label => 'Telephone' %>
                </fieldset>

                <fieldset>
                  <legend>Project #1</legend>
                  <%= f.text_field :project_1_summary, :label => 'Summary' %>
                  <%= f.text_area :project_1_information, :label => 'More information' %>
                  <%= f.form_group :project_1_under_18, label: { text: "Suitable for under 18s" } do %>
                    <%= f.radio_button :project_1_under_18, true, label: "Yes", inline: true %>
                    <%= f.radio_button :project_1_under_18, false, label: "No",  inline: true %>
                  <% end %>
                </fieldset>

                <fieldset>
                  <legend>Project #2</legend>
                  <%= f.text_field :project_2_summary, :label => 'Summary' %>
                  <%= f.text_area :project_2_information, :label => 'More information' %>
                  <%= f.form_group :project_2_under_18, label: { text: "Suitable for under 18s" } do %>
                    <%= f.radio_button :project_2_under_18, true, label: "Yes", inline: true %>
                    <%= f.radio_button :project_2_under_18, false, label: "No",  inline: true %>
                  <% end %>
                </fieldset>

                <fieldset>
                  <legend>Project #3</legend>
                  <%= f.text_field :project_3_summary, :label => 'Summary' %>
                  <%= f.text_area :project_3_information, :label => 'More information' %>
                  <%= f.form_group :project_3_under_18, label: { text: "Suitable for under 18s" } do %>
                    <%= f.radio_button :project_3_under_18, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :project_3_under_18, false, label: "No",  inline: true %>
                  <% end %>
                </fieldset>

                <fieldset>
                  <legend>Preferred dates and times</legend>
                  <%= f.form_group :any_week, label: { text: "Any week" }  do %>
                    <%= f.radio_button :any_week, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :any_week, false, label: "No",  inline: true %>
                  <% end %>
                  <div class="specific-week-container collapse<%= @project.any_week ? '' : ' in' %>">
                    <%= f.form_group :july_3, label: { text: "July 3rd" } do %>
                      <%= f.radio_button :july_3, true,  label: "Yes", inline: true %>
                      <%= f.radio_button :july_3, false, label: "No",  inline: true %>
                    <% end %>
                    <%= f.form_group :july_10, label: { text: "July 10th" } do %>
                      <%= f.radio_button :july_10, true,  label: "Yes", inline: true %>
                      <%= f.radio_button :july_10, false, label: "No",  inline: true %>
                    <% end %>
                    <%= f.form_group :july_17, label: { text: "July 17th" } do %>
                      <%= f.radio_button :july_17, true,  label: "Yes", inline: true %>
                      <%= f.radio_button :july_17, false, label: "No",  inline: true %>
                    <% end %>
                    <%= f.form_group :july_24, label: { text: "July 24th" } do %>
                      <%= f.radio_button :july_24, true,  label: "Yes", inline: true %>
                      <%= f.radio_button :july_24, false, label: "No",  inline: true %>
                    <% end %>
                  </div>
                  <%= f.form_group :evenings, label: { text: "Evenings" } do %>
                    <%= f.radio_button :evenings, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :evenings, false, label: "No",  inline: true %>
                  <% end %>
                  <%= f.form_group :saturday, label: { text: "Saturdays" } do %>
                    <%= f.radio_button :saturday, true,  label: "Yes", inline: true %>
                    <%= f.radio_button :saturday, false, label: "No",  inline: true %>
                  <% end %>
                </fieldset>

                <div class="form-group" style="margin-top: 20px;">
                  <div class="col-sm-9 col-sm-offset-3">
                    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                      <i class="fa fa-check"></i> Save
                    <% end %>
                    <% if @project.id? %>
                      <%= link_to project_path, :class => 'btn btn-default' do %>
                        <i class="fa fa-times"></i> Cancel
                      <% end %>
                    <% else %>
                      <%= link_to projects_path, :class => 'btn btn-default' do %>
                        <i class="fa fa-times"></i> Cancel
                      <% end %>
                    <% end %>
                  </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
