
<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="pull-right hidden-print">
          <a class="btn btn-outline btn-<%= @filter.except(:order_by).empty? ? "info" : "warning" %>"
               data-toggle="collapse" data-target="#filter"><i class="fa fa-filter"></i> Filter projects</a>
        </div>
        <h2>Projects</h2>
      </div>
      <div class="ibox-content">

        <div id="filter" class="filter well collapse hidden-print">
          <%= form_tag projects_index_path, method: :get, class: "filter" do |f| %>
          <%= hidden_field_tag :order_by, @filter[:order_by] %>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <%= label_tag :with_project_name, 'Project name contains', :class => 'control-label' %>
                    <%= text_field_tag :with_project_name, @filter[:with_project_name], :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= label_tag :for_week, 'Time of day', :class => 'control-label' %>
                    <%= select_tag :of_type,
                          options_for_select({
                            "Morning" => 'morning',
                            "Afternoon" => 'afternoon',
                            "Evening" => 'evening',
                            }, @filter[:of_type]),
                          include_blank: true,
                          :class => 'form-control' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= label_tag :for_week, 'Week commencing', :class => 'control-label' %>
                    <%= select_tag :for_week,
                          options_for_select({
                            '03/07/2017' => Date.new(2017,7,3).cweek,
                            '10/07/2017' => Date.new(2017,7,10).cweek,
                            '17/07/2017' => Date.new(2017,7,17).cweek,
                            '24/07/2017' => Date.new(2017,7,24).cweek,
                            }, @filter[:for_week]),
                          include_blank: true,
                          :class => 'form-control' %>
                  </div>
                  <div class="form-group date days">
                    <%= label_tag :for_date, 'Exact date', :class => 'control-label' %>
                    <div class="input-group date">
                      <span class="input-group-addon date"><i class="fa fa-calendar"></i></span>
                      <%= text_field_tag :for_date,
                                        (@filter[:for_date] if @filter.has_key?(:for_date)),
                                        :placeholder => 'dd/mm/yyyy',
                                        :class => 'form-control datepicker' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= label_tag :for_children, 'Suitable for kids (under 11)?', :class => 'control-label' %>
                    <div class="checkbox checkbox-primary">
                      <%= check_box_tag :for_children, 1, @filter[:for_children] %>
                      <%= label_tag :for_children, 'Yes' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= label_tag :for_youth, 'Suitable for youth (11 to 18)?', :class => 'control-label' %>
                    <div class="checkbox checkbox-primary">
                      <%= check_box_tag :for_youth, 1, @filter[:for_youth] %>
                      <%= label_tag :for_youth, 'Yes' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group pull-right">
                    <%= link_to projects_clear_filter_path, :class => 'btn btn-default' do %>
                      <i class="fa fa-times"></i> Clear filter
                    <% end %>
                    <%= button_tag(type: "submit", class: "btn btn-success btn-outline") do %>
                      <i class="fa fa-filter"></i> Apply filter
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

        <% @projects.each do |project| %>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3><%= project.project_name %></h3>
              </div>
              <div class="panel-body">
                <div class="row">

                  <div class="col-xs-12 col-sm-6">
                    <p><%= styled_project_dates(project) %></p>
                    <%= markdown(project.summary) %>
                    <dl>
                      <dt>Suitable for kids (under 11)</dt>
                      <dd><%= yes_no project.suitable_for_kids? %></dd>
                      <dt>Suitable for youth (11 - 18)</dt>
                      <dd><%= yes_no project.suitable_for_youth? %></dd>
                    </dl>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <ul class="list-group">
                      <% project.project_slots.order(:slot_date, :slot_type).each do |project_slot| %>
                        <% if @slots.include? project_slot %>
                          <li class="list-group-item">
                            <div class="pull-right">
                            <% if volunteer_signed_in? %>
                              <% if current_volunteer.project_slots.include? project_slot %>
                                <%= link_to my_projects_path, :class => 'btn btn-xs btn-info btn-outline' do %>
                                  <i class="fa fa-info-circle"></i> Signed up
                                <% end %>
                              <% elsif project_slot.can_sign_up? current_volunteer %>
                                <%= form_tag volunteer_for_project_path, method: :post do |f| %>
                                  <%= hidden_field_tag :slot_id, project_slot.id %>
                                  <%= button_tag(type: "submit", class: "btn btn-xs btn-success btn-outline") do %>
                                    <i class="fa fa-check-square-o"></i> Sign up
                                  <% end %>
                                <% end %>
                              <% else %>
                                <small><i>Not available</i></small>
                              <% end %>
                            <% else %>
                              <%= link_to new_volunteer_session_path, class: 'btn btn-xs btn-success btn-outline' do %>
                                <i class="fa fa-check-square-o"></i> Sign up
                              <% end %>
                            <% end %>
                            </div>
                            <h4 class="list-group-item-heading"><%= project_slot.slot_date.strftime("%A #{project_slot.slot_date.day.ordinalize} %B") %></h4>
                            <p class="list-group-item-text">
                              <%= slot_times(project_slot) %>
                            </p>
                            <p class="list-group-item-text">
                              <span class="label"><%= project_slot.humanized_slot_type %></span>
                            </p>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
      <div class="ibox-footer">
      </div>
    </div>
  </div>
</div>
