
<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">

        <h2>Projects</h2>
        <% if volunteer_signed_in? %>
          <% if current_volunteer.project_slots.empty? %>
            <p> <em> You are not currently signed up for any projects. </em> </p>
          <% else %>
            <p class="p-xxs text-info">
              <em>
                You
                <%= current_volunteer.family_size > 1 ? ' and your family members ' : nil %>
                have committed to <%= current_volunteer.commitment %> hours of volunteering so far.
              </em>
              <br />
              <%= link_to my_projects_path, :class => 'btn btn-info btn-outline m-t-sm' do %>
                <i class="fa fa-info-circle"></i> See my projects
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="ibox-content">

        <div class="row border-bottom">
          <div class="col-xs-12">
            <div class="pull-right hidden-print <%= @filtered ? "show" : "hidden" %>">
              <a class="btn btn-xs btn-warning btn-outline" data-toggle="collapse" data-target="#filter">
                   Change search criteria <span class="caret"> </span></a>
            </div>
            <p class="text-primary font-italic"><small>
              Showing
              <%= @filtered ?
                    "#{@project_count} of #{@total_project_count} projects" :
                    "all #{@total_project_count} projects" %>
            </small></p>
          </div>
        </div>

        <div id="filter" class="filter well m-t-lg hidden-print <%= @filtered ? 'collapse' : 'collapse in' %>">

          <p class="text-muted m-b-lg">
            Use the following search criteria to find specific projects.
          </p>

          <%= form_tag projects_index_path, method: :get, class: "filter" do |f| %>
          <%= hidden_field_tag :order_by, @filter[:order_by] %>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <%= label_tag :with_project_name, 'Project name contains', :class => 'control-label' %>
                    <%= text_field_tag :with_project_name, @filter[:with_project_name], :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= label_tag :for_week, 'Time of day', :class => 'control-label' %>
                    <%= select_tag :of_type,
                          options_for_select({
                            "Morning" => 'morning',
                            "Afternoon" => 'afternoon',
                            "Evening" => 'evening',
                            }, @filter[:of_type]),
                          include_blank: true,
                          :class => 'form-control' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= label_tag :for_week, 'Week commencing', :class => 'control-label' %>
                    <%= select_tag :for_week,
                          options_for_select({
                            '03/07/2017' => Date.new(2017,7,3).cweek,
                            '10/07/2017' => Date.new(2017,7,10).cweek,
                            '17/07/2017' => Date.new(2017,7,17).cweek,
                            '24/07/2017' => Date.new(2017,7,24).cweek,
                            }, @filter[:for_week]),
                          include_blank: true,
                          :class => 'form-control' %>
                  </div>
                  <div class="form-group date days">
                    <%= label_tag :for_date, 'Exact date', :class => 'control-label' %>
                    <div class="input-group date">
                      <span class="input-group-addon date"><i class="fa fa-calendar"></i></span>
                      <%= text_field_tag :for_date,
                                        (@filter[:for_date] if @filter.has_key?(:for_date)),
                                        :placeholder => 'dd/mm/yyyy',
                                        :class => 'form-control datepicker' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= label_tag :for_children, 'Suitable for kids (under 11)?', :class => 'control-label' %>
                    <div class="checkbox checkbox-primary">
                      <%= check_box_tag :for_children, 1, @filter[:for_children] %>
                      <%= label_tag :for_children, 'Yes' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= label_tag :for_youth, 'Suitable for youth (11 to 18)?', :class => 'control-label' %>
                    <div class="checkbox checkbox-primary">
                      <%= check_box_tag :for_youth, 1, @filter[:for_youth] %>
                      <%= label_tag :for_youth, 'Yes' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row visible-xs-block m-t-sm">
                <div class="col-xs-12">
                  <%= button_tag(type: "submit", class: "btn btn-info btn-block") do %>
                    <i class="fa fa-search"></i> Find projects now
                  <% end %>
                  <%= link_to projects_clear_filter_path, :class => 'btn btn-default btn-block' do %>
                    <i class="fa fa-times"></i> Clear search criteria
                  <% end %>
                </div>
              </div>
              <div class="row hidden-xs m-t-sm">
                <div class="col-xs-12">
                  <div class="pull-right">
                    <%= button_tag(type: "submit", class: "btn btn-info") do %>
                      <i class="fa fa-search"></i> Find projects now
                    <% end %>
                    <%= link_to projects_clear_filter_path, :class => 'btn btn-default' do %>
                      <i class="fa fa-times"></i> Clear search criteria
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

        <div class="row m-t-xl">

        <% @projects.each do |project| %>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4><%= project.project_name %></h4>
              </div>
              <div class="panel-body">
                <p><%= styled_project_dates(project) %></p>
                <%= markdown(project.summary) %>
                <div class="pull-right">
                  Kids: <%= yes_no_icon project.suitable_for_kids? %>
                  Youth: <%= yes_no_icon project.suitable_for_youth? %>
                </div>
              </div>
              <div class="panel-footer">
                <%= link_to show_project_path(project), :class => 'btn btn-info btn-block btn-outline' do %>
                  <i class="fa fa-info-circle"></i> See time slots and sign up
                <% end %>
              </div>
            </div>
          </div>

        <% end %>

        </div>
      </div>
      <div class="ibox-footer">
      </div>
    </div>
  </div>
</div>
