
<div class="row">
  <div class="col-lg-12">

    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <div class="ibox-tools pull-right hidden-print">
          <a class="btn btn-<%= @filter.except(:order_by).empty? ? "default" : "warning btn-outline" %> btn-sm"
               data-toggle="collapse" data-target="#filter"><i class="fa fa-filter"></i></a>
        </div>
        <h2>Volunteers</h2>
      </div>

      <div class="ibox-content">

        <div id="filter" class="filter collapse hidden-print">

          <%= form_tag admin_volunteers_path, method: :get, class: "filter" do |f| %>

          <%= hidden_field_tag :order_by, @filter[:order_by] %>

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5>Filter settings</h5>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= label_tag :with_first_name, 'First name contains', :class => 'control-label' %>
                      <%= text_field_tag :with_first_name, @filter[:with_first_name], :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :with_last_name, 'Last name contains', :class => 'control-label' %>
                      <%= text_field_tag :with_last_name, @filter[:with_last_name], :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= label_tag :with_email, 'Email address contains', :class => 'control-label' %>
                      <%= text_field_tag :with_email, @filter[:with_email], :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :with_mobile, 'Mobile number contains', :class => 'control-label' %>
                      <%= text_field_tag :with_mobile, @filter[:with_mobile], :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= label_tag :in_age_category, 'Age category', :class => 'control-label' %>
                      <%= select_tag :in_age_category,
                                    options_for_select(
                                      [['Over 18', :adult],['11 to 18', :youth]],
                                      @filter[:in_age_category]),
                                    { prompt: "Please select a value...",
                                      class: 'form-control' } %>
                    </div>
                    <div class="checkbox checkbox-primary">
                      <%= check_box_tag :without_projects, true, @filter[:without_projects] %>
                      <%= label_tag :without_projects, 'Has not signed up to a project yet' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group pull-right">
                      <%= link_to admin_volunteers_clear_filter_path, :class => 'btn btn-default' do %>
                        <i class="fa fa-times"></i> Clear filter
                      <% end %>
                      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                        <i class="fa fa-filter"></i> Apply filter
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% end %>

        </div>

        <div class="hidden-print">
          <% if can? :create, Volunteer %>
            <%= link_to new_admin_volunteer_path, :class => 'btn btn-primary btn-sm' do %>
              <i class="fa fa-plus"></i> Add a volunteer
            <% end %>
          <% end %>
          <% if can? :compose_all, Volunteer %>
            <%= link_to admin_compose_all_volunteers_path, :class => 'btn btn-outline btn-info' do %>
              <i class="fa fa-send"></i> Send message to all
            <% end %>
          <% end %>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-responsive">

            <thead>
              <tr>
                <th><%= sortable 'first_name,last_name', @filter, admin_volunteers_path, 'Name' %></th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Age category</th>
                <th>Family size</th>
                <th>Project hours</th>
                <th>Personal project hours</th>
                <th><%= sortable 'current_sign_in_at', @filter, admin_volunteers_path, 'Last sign-in' %></th>
                <th>Links</th>
              </tr>
            </thead>

            <tbody>
            <% if @volunteers.size > 0 %>
              <% @volunteers.each do |volunteer| %>
              <tr>
                <td><%= volunteer.name %> </td>
                <td><%= volunteer.email %> </td>
                <td><%= mobile_phone_number volunteer.mobile %> </td>
                <td><%= volunteer.humanized_age_category %> </td>
                <td><%= volunteer.family_size %> </td>
                <td><%= volunteer.commitment %> </td>
                <td><%= volunteer.personal_project_commitment %> </td>
                <td><%= volunteer.current_sign_in_at %> </td>
                <td>
                  <%= link_to admin_volunteer_path(volunteer), :class => '' do %>
                  <i class="fa fa-info-circle"></i> View details
                  <% end %>
                </td>
              </tr>
              <% end %>
            <% else %>
              <tr><td colspan="9"><em>No volunteers found</em></td></tr>
            <% end %>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="9">
                  <div class="pull-right">
                    <%= paginate @volunteers %>
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>
