
<div class="row">
  <div class="col-lg-9">
    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <h2>Sign a volunteer up to a project</h2>
      </div>

      <div class="ibox-content">

        <%= render partial: "layouts/errors", object: @manual_sign_up, as: 'form' %>

        <%= bootstrap_form_for(
                [:admin, @volunteer],
                url: { action: 'create_sign_up' },
                method: :post,
                layout: :horizontal,
                inline_errors: false,
                html: { class: 'project-form' },
                label_col: "col-sm-3",
                control_col: "col-sm-9") do |f| %>

          <div class="form-group">
            <label class="col-lg-3 control-label">Volunteer</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.name %></p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Project</label>
            <div class="col-lg-9">
              <select class='form-control'
                      data-bind="options: projects,
                                 optionsText: 'name',
                                 value: selectedProject,
                                 optionsCaption: 'Choose a project...'"></select>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-lg-3 control-label">Slot</label>
            <div class="col-lg-9">
              <div data-bind="with: selectedProject">
                <select name="manual_sign_up[slot_id]"
                        class='form-control'
                        data-bind="options: slots,
                                   optionsText: 'name',
                                   optionsValue: 'id',
                                   value: $parent.selectedSlot,
                                   optionsCaption: 'Choose a slot...'"></select>
              </div>
            </div>
          </div>

          <div class="form-group" style="margin-top: 20px;">
            <div class="col-sm-9 col-sm-offset-3">
              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <i class="fa fa-check"></i> Save
              <% end %>
              <%= link_to admin_volunteer_path(@volunteer), :class => 'btn btn-default' do %>
                <i class="fa fa-times"></i> Cancel
              <% end %>
            </div>
          </div>

        <% end %>

      </div>

    </div>
  </div>

  <div class="col-sm-3">
    
  </div>

</div>


<%= javascript_tag do %>

var projects = [
  <% @projects.each do |project| %>
  {
    'id': <%= project.id %>,
    'name': '<%= project.project_name %>',
    'slots': [
      <% project.project_slots.order(:slot_date, :slot_type).each do |slot| %>
        <% unless @volunteer.project_slots.include? slot %>
          <% if slot.can_sign_up? @volunteer %>
            {
              'id': <%= slot.id %>,
              'name': '<%= "#{slot.slot_date.strftime('%d/%m/%Y')} at #{slot.start_time} (#{slot.humanized_slot_type})" %>'
            },
          <% end %>
        <% end %>
      <% end %>
    ]
  },
  <% end %>
];

$(function() {

  var AppViewModel = function() {

    var self = this;

    self.selectedProject = ko.observable();
    self.selectedSlot    = ko.observable();
  }

  ko.applyBindings(new AppViewModel());

});

<% end %>
