
<div class="row">
  <div class="col-lg-9">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>Volunteer details</h3>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.first_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.last_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.email %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Mobile</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.mobile %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Age category</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.humanized_age_category %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Family members</label>
            <div class="col-lg-9">
              <p class="form-control-static">
                <% @volunteer.family_members.each do |m| %>
                  <%= "#{m['name']} (#{m['age_category']})" %><br />
                <% end %>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email confirmed?</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= yes_no_icon @volunteer.confirmed? %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last sign-in</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.current_sign_in_at %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Number of sign-ins</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @volunteer.sign_in_count %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 hidden-print">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>Actions</h3>
      </div>
      <div class="ibox-content">
        <div>
          <%= link_to admin_volunteers_path, :class => 'btn btn-outline btn-default' do %>
            <i class="fa fa-reply"></i> Back to volunteers
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
