
<div class="row">
  <div class="col-lg-9">

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>Project slot details</h2>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal form-static">
          <div class="form-group">
            <label class="col-lg-3 control-label">Project name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.project.project_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Contact name</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.project.contact_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Contact telephone</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.project.contact_phone %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Project leader</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.project.leader %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Slot date</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.slot_date.strftime('%d/%m/%Y') %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Start time</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.start_time %> (<%= @ProjectSlot.slot_length %> hrs)</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Volunteer limits</label>
            <div class="col-lg-9">
              <p class="form-control-static">
                <%= @ProjectSlot.project.adults %> adults,
                <%= @ProjectSlot.project.youth %> youth &amp;
                <%= @ProjectSlot.project.kids %> children
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Extra volunteers</label>
            <div class="col-lg-9">
              <p class="form-control-static"><%= @ProjectSlot.extra_volunteers %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Volunteers</h5>
      </div>
      <div class="ibox-content">
        <% if @ProjectSlot.volunteers.count == 0 %>
        <p class="text-muted">
          This slot has no volunteers yet.
        </p>
        <% else %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Family size</th>
                <th>Phone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @ProjectSlot.volunteers.order(:first_name, :last_name).each do |volunteer| %>
                <tr>
                  <td><%= volunteer.name %></td>
                  <td><%= volunteer.family_size %></td>
                  <td><%= volunteer.mobile_local_format %></td>
                  <td>
                    <%= link_to admin_volunteer_path(volunteer), :class => '' do %>
                    <i class="fa fa-info-circle"></i> View details
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-lg-3 hidden-print">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>Actions</h3>
      </div>
      <div class="ibox-content">
        <div>
          <div>
            <%= link_to admin_slots_path, :class => 'btn btn-outline btn-default' do %>
              <i class="fa fa-reply"></i> Back to slots
            <% end %>
          </div>
          <div>
            <%= link_to admin_project_path(@ProjectSlot.project), :class => 'btn btn-outline btn-default' do %>
              <i class="fa fa-reply"></i> Back to project
            <% end %>
          </div>
          <div>
            <%= link_to edit_admin_slot_path(@ProjectSlot), :class => 'btn btn-outline btn-primary' do %>
              <i class="fa fa-print"></i> Edit details
            <% end %>
          </div>
          <div>
            <%= link_to print_admin_slot_path(@ProjectSlot), :class => 'btn btn-outline btn-primary' do %>
              <i class="fa fa-print"></i> Print for leader
            <% end %>
          </div>
          <div>
            <%= link_to compose_message_admin_slot_path(@ProjectSlot), :class => 'btn btn-outline btn-info' do %>
              <i class="fa fa-send"></i> Send message
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
