
<fieldset>
  <legend>Personal details</legend>
  <%= f.email_field :email, label: 'Email', autofocus: true,
      help: 'Please ensure this is a valid email address as we will use it to contact you.' %>
  <%= f.text_field :first_name, label: 'First name' %>
  <%= f.text_field :last_name,  label: 'Last name' %>
  <%= f.phone_field :mobile,    label: 'Mobile number', prepend: '+44 (0)',
      help: 'Please ensure this is a valid number as we will use it to contact you.' %>
  <%= f.select :age_category,
      options_for_select(
        [
          ['Please select an age category...',''],
          ['Over 18', :adult],
          ['13 to 17', :youth]
        ],
        volunteer.age_category),
      { label: 'Age category', help: 'You must be 13 or over to register online' },
      {
        disabled: mode == 'edit',
        data: { bind: 'value: ageCategory' }
      } %>
</fieldset>

<fieldset data-bind="visible: ageCategory()=='youth'">
  <legend>Parent/guardian details</legend>
  <p><em>
    You've indicated that you are under 18 so we need valid, contact details
    of a parent or guardian.
  </em></p>
  <%= f.text_field  :guardian_name,
          label: 'Name',
          label_class: "required",
          data: { bind: 'value: guardianName' } %>
  <%= f.phone_field :guardian_contact_number,
          label: 'Contact number',
          label_class: "required",
          data: { bind: 'value: guardianPhone' } %>

  <% if mode == 'new' || volunteer.activity_consent_required? %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <i class="fa fa-info-circle"></i>
      Activity consent form required
    </div>
    <div class="panel-body">
      <p><em>
        We need you to return an activity consent form signed by a
        parent or guardian. You can download a form
        <a href="" target="_blank"><span class="fa fa-external-link"></span> here</a>.
        Please return the completed form to the church office as soon as possible.
      </em></p>
    </div>
  </div>
  <% end %>

</fieldset>
