<% if volunteer_signed_in? %>
<li class="dropdown active">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_volunteer.name.upcase %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to('MY PROJECTS', my_projects_path) %></li>
    <li><%= link_to('MY DETAILS', edit_volunteer_registration_path) %></li>
    <li><%= link_to('LOG OUT', destroy_volunteer_session_path, :method => :delete) %></li>
  </ul>
</li>
<% else %>
<li><%= link_to('LOG IN', new_volunteer_session_path) %></li>
<% end %>
