<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>10,000 hours | Causeway Coast Vineyard</title>

    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script type="text/javascript"
            src="//use.typekit.net/ik/Q3jd9lYe1tkUjh4E4N6KU9l8gsIsmg4WYtgLKUj9-pIfe0bffFHN4UJLFRbh52jhWD9DwQwt5ABKZQsKw2IojD9kZQwDZR9u5gTaiaiaOcFyiWF8ihBojhNySash-Ao8pABkZfoRdhXCjhBuShmajW8RdhBDiYZTdcmojW4qOcFzdPUCdhFydeyzSabCjhFhjhyuScFGO1FUiABkZWF3jAF8OcFzdP37OcFRicFGiW4R-foDSWmyScmDSeBRZPoRdhXK2YgkdayTdAIldcNhjPJHjcmKjWwldcmuZPG4fHCgIMMjMPMfH6qJnMIbMg6OJMJ7fbRKHyMMeMw6MKG4f5w7IMMj2PMfH6qJn3IbMg6IJMJ7fbK3MsMMeMt6MKG4fHXgIMMjgKMfH6qJn6IbMg6bJMJ7fbKOMsMMeMS6MKG4fJ3gIMMjIPMfH6qJ7bIbMg6JJMJ7fbK7MsMMegJ6MKG4fJqgIMMjfPMfH6qJK6IbMg6QJMJ7fbRL-gMgeMb6MTMg3SnhnM9.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= csrf_meta_tags %>
</head>

<body id="page-top" class="landing-page no-skin-config" style="padding-top: 100px;">

  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'HOME', root_url %></li>
            <li><%= link_to 'VOLUNTEERING', root_url + '#volunteering' %></li>
            <li class="<%= 'active' if controller.controller_name == 'projects' %>"><%= link_to 'PROJECTS', projects_index_url %></li>
            <li><%= link_to 'CONTACT', root_url + '#contact' %></li>
            <%= render 'user_menu' %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= toastr_flash %>

</body>
</html>
