<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>10,000 hours | Causeway Coast Vineyard</title>

    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script type="text/javascript"
            src="//use.typekit.net/ik/Q3jd9lYe1tkUjh4E4N6KU9l8gsIsmg4WYtgLKUj9-pIfe0bffFHN4UJLFRbh52jhWD9DwQwt5ABKZQsKw2IojD9kZQwDZR9u5gTaiaiaOcFyiWF8ihBojhNySash-Ao8pABkZfoRdhXCjhBuShmajW8RdhBDiYZTdcmojW4qOcFzdPUCdhFydeyzSabCjhFhjhyuScFGO1FUiABkZWF3jAF8OcFzdP37OcFRicFGiW4R-foDSWmyScmDSeBRZPoRdhXK2YgkdayTdAIldcNhjPJHjcmKjWwldcmuZPG4fHCgIMMjMPMfH6qJnMIbMg6OJMJ7fbRKHyMMeMw6MKG4f5w7IMMj2PMfH6qJn3IbMg6IJMJ7fbK3MsMMeMt6MKG4fHXgIMMjgKMfH6qJn6IbMg6bJMJ7fbKOMsMMeMS6MKG4fJ3gIMMjIPMfH6qJ7bIbMg6JJMJ7fbK7MsMMegJ6MKG4fJqgIMMjfPMfH6qJK6IbMg6QJMJ7fbRL-gMgeMb6MTMg3SnhnM9.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= csrf_meta_tags %>
</head>

<body id="page-top" class="landing-page" style="padding-top: 65px;">

  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-scroll" href="#page-top">HOME</a></li>
            <li><a class="page-scroll" href="#volunteering">VOLUNTEERING</a></li>
            <li><a class="page-scroll" href="#projects">PROJECTS</a></li>
            <li><a class="page-scroll" href="#contact">CONTACT</a></li>
            <%= render 'user_menu' %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <% unless volunteer_signed_in? %>
  <section id="register" class="">
    <div class="container">
      <div class="row m-t-lg m-b-lg">
        <div class="col-lg-12 text-center">
            <%= link_to new_volunteer_registration_path, class: 'btn btn-block btn-info btn-xxl btn-outline' do %>
              <span class="text-uppercase">Register &amp; sign up for projects</span>
            <% end %>
        </div>
      </div>
    </div>
  </section>
  <% end %>

  <div class="banner visible-xs-block visible-sm-block">
    <%= image_tag('banner.jpg') %>
  </div>

  <section class="embed-responsive embed-responsive-16by9 hidden-xs hidden-sm">
    <div id="player"></div>
  </section>

  <section id="pledges" class="" style="">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-xs-12 text-center">
          <div class="navy-line"></div>
          <h1>Pledges</h1>
        </div>
      </div>
      <div class="row m-b-xl">
        <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 text-center">
          <div>
            <div class="col-xs-12 col-sm-6">
              <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                  <div class="col-xs-3">
                    <i class="fa fa-hourglass fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <span> hours </span>
                    <h2 class="font-bold"><%= @commitment %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <span> volunteers </span>
                    <h2 class="font-bold"><%= @volunteer_count %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="volunteering" class="gray-section volunteering">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Volunteering</h1>
        </div>
      </div>
      <div class="row m-b-xl">
        <div class="col-lg-12 text-center">
          <p>
            <%= link_to new_volunteer_registration_path, class: 'btn btn-lg btn-primary btn-xxl' do %>
              <span class="text-uppercase">Register &amp; sign up for projects</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>

  <%= yield %>

  <section id="contact" class="gray-section">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Contact us</h1>
        </div>
      </div>
      <div class="row m-b-xl">
        <div class="col-lg-12 text-center">
          <p>
            <a class="btn btn-lg btn-primary"
               href="http://www.causewaycoastvineyard.com/contact/"
               target="_blank"><span class="fa fa-external-link"> </span> PLEASE USE OUR CHURCH CONTACT FORM</a>
          </p>
        </div>
      </div>
    </div>
  </section>

<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });

    });

    // YouTube video iFrame API code
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        videoId: 'WzbY8TRpNmY',
        height: '360',
        width: '100%',
        playerVars: {
          autoplay: 0,
          loop: 0,
          modestbranding: 1,
          showinfo: 0,
          controls: 0,
          fs: 0,
          rel: 0,
          enablejsapi: 1,
          iv_load_policy: 3,
          playsinline: 1,
          origin: 'https://10k.causewaycoastvineyard.com'
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange' : onPlayerStateChange
        }
      });
    }
    function onPlayerReady(event) {
      event.target.mute();
      event.target.playVideo();
    }
    function onPlayerStateChange(event) {
      if (event.data === YT.PlayerState.ENDED) {
        event.target.playVideo();
      }
    }

</script>

<%= toastr_flash %>

</body>
</html>
