<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>10,000 hours | Causeway Coast Vineyard</title>

    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
</head>

<body id="page-top" class="landing-page">

  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-scroll" href="#page-top">HOME</a></li>
            <li><a class="page-scroll" href="#volunteering">VOLUNTEERING</a></li>
            <li><a class="page-scroll" href="#projects">PROJECTS</a></li>
            <li><a class="page-scroll" href="#contact">CONTACT</a></li>
            <%= render 'user_menu' %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="banner visible-xs-block visible-sm-block">
    <%= image_tag('PaintDripping.jpg') %>
  </div>

  <div class="banner embed-responsive embed-responsive-16by9 hidden-xs hidden-sm">
    <%= video_tag(['PaintDripping.mp4','PaintDripping.mov'],
          autoplay: true, loop: :true, poster: "PaintDripping.jpg") %>
  </div>

  <section id="metrics" class="">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-xs-12 text-center">
          <div class="navy-line"></div>
          <h1>Pledges</h1>
        </div>
        <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3 text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                  <div class="col-xs-3">
                    <i class="fa fa-hourglass fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <span> hours </span>
                    <h2 class="font-bold"><%= @commitment %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <span> volunteers </span>
                    <h2 class="font-bold"><%= @volunteer_count %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="volunteering" class="gray-section volunteering">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Volunteering</h1>
          <p class="landing-section-paragraph">
            Once you have registered (individually or with family members) and
            logged in to this site, you can sign up for our public projects and
            tell us about your personal projects. Please note that, as part of
            the registration process, we'll ask for an email address and mobile
            phone number so that we can keep you up to date with important
            information.
          </p>
          <p style="margin-top: 20px; margin-bottom: 20px;">
            <%= link_to new_volunteer_registration_path, class: 'btn btn-lg btn-primary' do %>
              <span class="text-uppercase">Register</span>
            <% end %>
            <span style="margin-right: 20px;"> </span>
            <%= link_to new_volunteer_session_path, class: 'btn btn-lg btn-primary' do %>
              <span class="text-uppercase">Log in</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>

  <%= yield %>

  <section id="contact" class="gray-section">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Contact us</h1>
          <p class="landing-section-paragraph">
            Our church office is open Monday - Friday from 9am to 5pm. Or
            you can come chat to us at our information point in church
            after any Sunday service.
          </p>
        </div>
      </div>
      <div class="row m-b-lg text-center">
          <address>
            <strong><span class="navy">Causeway Coast Vineyard</span></strong><br/>
            10 Hillmans Way, Coleraine,<br/>
            BT52 2ED, Northern Ireland<br/>
            <abbr title="Phone">P:</abbr> +44 (0)28 70 326161
          </address>
          <a class="navy-link"
             href="https://www.google.co.uk/maps/place/Causeway+Coast+Vineyard/@55.129649,-6.6633903,15z/data=!4m5!3m4!1s0x486024ccc9db9b2b:0xd2cde95bab55e3d0!8m2!3d55.129649!4d-6.6546356"
             target="_blank"
             role="button">Find us with Google maps <span class="fa fa-google"> </span></a>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="m-t-sm">
            <a class="btn btn-lg btn-primary"
               href="http://www.causewaycoastvineyard.com/contact/"
               target="_blank"><span class="fa fa-external-link"> </span> USE OUR CONTACT FORM</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="m-t-sm">
            Follow us on social media
          </p>
          <ul class="list-inline social-icon">
            <li><a href="https://twitter.com/CCVChurch"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/ccvchurch"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/ccvchurch"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC8E1jwNcHryTPfeJiBxactw"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12 text-center">
          <p class="m-t-sm">
          </p>
        </div>
      </div>
    </div>
  </section>

<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

</script>

<%= toastr_flash %>

</body>
</html>
